<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detalhes do usuario {{user.name.first}} {{user.name.last}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-thumbnail item-left>
        <img [src]="user.picture.large" alt="Imagem do Usuário">
      </ion-thumbnail>
    </ion-card-header>
    <ion-card-content>
      <ion-card>
        <ion-card-header>Informações pessoais</ion-card-header>
        <ion-card-content>
          <p>Nome completo: {{user.name.first}} {{user.name.last}}</p>
          <p>Data de nascimento: {{user.dob | date:"dd/MM/yyyy"}}</p>
          <p *ngIf="user.id.value">Número da identidade: {{user.id.value}}</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>Contatos</ion-card-header>
        <ion-card-content>
          <p>Telefone residêncial: {{user.phone}}</p>
          <p>Telefone celular: {{user.cell}}</p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>Localização</ion-card-header>
        <ion-card-content>
          <p>Nacionalidade: {{user.nat}}</p>
          <p>Cidade: {{user.location.city}}</p>
          <p>Estado: {{user.location.state}}</p>
          <p>Rua: {{user.location.street}}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>